<% if logged_in? && author?(@question) %>
    <% if author?(@question) %>
      <a href="/questions/<%=@question.id%>/edit">Edit</a>
      <form method="post" action="/questions/<%= @question.id %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete">
      </form>
    <% end %>
    <%end%>
