<% if logged_in? && author?(@question) %>
    <% if author?(@question) %>
    <br>
      <ul class="edit-delete"><li class="edit-button"><a  href="/questions/<%=@question.id%>/edit">Edit</a></li>
      <form method="post" action="/questions/<%= @question.id %>">
        <input type="hidden" name="_method" value="delete">
        <li class="delete-button"><input  type="submit" value="Delete"></li>
      </form>
    </ul>
    <% end %>
    <%end%>
