<%if @errors%>
<ul>
  <%@errors.each do |error|%>
  <li><%=error%>
    <%end%>
  </li>
  <%end%>
<div class="question-form">
  <form method='post' action='/questions'>
  <label for="title">Title:</label>
  <input class="question-text" type='text' name="question[:title]" placeholder="Question"><br>
  <textarea class="question-content" id="question-content" name="question[:content]"></textarea><br>
  <input class="question-button" type="submit" value="Create">
</form>
</div>
