<%if @errors%>
<ul>
  <%@errors.each do |error|%>
  <li><%=error%></li>
    <%end%>
  </ul>
  <%end%>
<div class="question-form">
  <form method='post' action='/questions'>
  <label for="title">Title:</label>
  <input class="question-text" type='text' name="title" placeholder="Question"><br>
  <textarea class="question-content" id="question-content" name="content"></textarea><br>
  <input class="tags-text" type='text' name="tags" placeholder="tag1, tag2, tag3, tag4...">
  <input class="question-button" type="submit" value="Create">
</form>
</div>
