<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Crackoverflow</title>
</head>
<body>
  <center><img src="http://i.imgur.com/L5XK5jb.png" ><img src="http://i.imgur.com/L5XK5jb.png" ><img src="http://i.imgur.com/L5XK5jb.png" ><img src="http://i.imgur.com/L5XK5jb.png" ><img src="http://i.imgur.com/L5XK5jb.png" ><img src="http://i.imgur.com/L5XK5jb.png" ><img src="http://i.imgur.com/L5XK5jb.png" ><img src="http://i.imgur.com/L5XK5jb.png" ><img src="http://i.imgur.com/L5XK5jb.png" ><img src="http://i.imgur.com/L5XK5jb.png" ><img src="http://i.imgur.com/L5XK5jb.png" ><img src="http://i.imgur.com/L5XK5jb.png" ></center>
  <nav class="top-nav">
    <ul>
      <li><a href="/questions">Home</a></li>
      <% if logged_in? %>
       <li><a href="/users/<%= current_user.id%>"><%= current_user.username%></a></li>
       <li>
        <form action='/session' method='post'>
          <input type='hidden' name="_method" value="delete">
          <input class="logout" type='submit' value='logout'>
        </form>
        </li>
      <% else%>

      <li><a href="/users/new">Register</a></li>
      <li><a href="/session/new">Login</a></li>
      <% end%>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
